[submodule "submodules/riscv-formal"]
	path = submodules/riscv-formal
	url = https://github.com/SymbioticEDA/riscv-formal.git
[submodule "programs/lib/font8x8"]
	path = submodules/font8x8
	url = https://github.com/dhepper/font8x8.git
[submodule "submodules/rv8-bench"]
	path = submodules/rv8-bench
	url = https://github.com/rv8-io/rv8-bench.git
[submodule "submodules/mor1kx"]
	path = submodules/mor1kx
	url = https://github.com/openrisc/mor1kx.git
[submodule "submodules/mpaland_printf"]
	path = submodules/mpaland_printf
	url = https://github.com/mpaland/printf.git
[submodule ".\\submodules\\jtframe"]
	path = .\\submodules\\jtframe
	url = https://github.com/jotego/jtframe
