*.sw?

output

db
incremental_db
hps_sdram_p0_summary.csv
c5_pin_model_dump.txt
*.asm.rpt
*.done
*.eda.rpt
*.fit.rpt
*.fit.smsg
*.fit.summary
*.flow.rpt
*.jdi
*.map.rpt
*.map.summary
*.map.smsg
*.pin
*.sld
*.sof
*.sta.rpt
*.sta.summary
*.rpt
*.qws
*_assignment_defaults.qdf
/simulation/modelsim/*.sft
/simulation/modelsim/*.svo
/simulation/modelsim/*.vcd
/simulation/modelsim/rtl_work
/simulation/modelsim/transcript

*.qsys_edit
*/*.qsys_edit
greybox_tmp

rtl_work

*.vcd
*.wlf

transcript
vsim_stacktrace.vstf
/verif/sdcard.iso
*.orig

src/spinalhdl/target
