db
incremental_db
/c5_pin_model_dump.txt
/LC3.asm.rpt
/LC3.done
/LC3.eda.rpt
/LC3.fit.rpt
/LC3.fit.smsg
/LC3.fit.summary
/LC3.flow.rpt
/LC3.jdi
/LC3.map.rpt
/LC3.map.summary
/LC3.pin
/LC3.sld
/LC3.sof
/LC3.sta.rpt
/LC3.sta.summary
/LC3_assignment_defaults.qdf
/simulation/modelsim/LC3.sft
/simulation/modelsim/LC3.svo
/simulation/modelsim/LC3_modelsim.xrf
